<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: 100vh;
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <svg width="40px" height="40px" viewBox="0 0 45 45">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.59 69.02"><defs><style>.cls-1{font-size:61px;fill:#932830;font-family:Nunito-Black, Nunito Black;font-weight:800;letter-spacing:-0.07em;}.cls-2{fill:#ffdf57;}.cls-3{fill:#fff794;}</style></defs><title>vibe logo still</title><text class="cls-1" transform="translate(0 52)">V BE</text><path class="cls-2" d="M54.9,68.53a4.53,4.53,0,0,1-1.56-3.75v-21A4.52,4.52,0,0,1,54.9,40a6.62,6.62,0,0,1,7.74,0,4.52,4.52,0,0,1,1.56,3.75v21a4.53,4.53,0,0,1-1.56,3.75,6.62,6.62,0,0,1-7.74,0Z" transform="translate(-6.75 -17.41)"/><path class="cls-3" d="M58.77,38.79A6,6,0,0,0,54.9,40a3.93,3.93,0,0,0-1.17,1.56,5.08,5.08,0,0,0-.39,1.73v3.51a1.38,1.38,0,0,0,2.76,0V44h0a.49.49,0,1,1,1,0h0a1.7,1.7,0,0,0,3.38,0h0a.73.73,0,0,1,1.45,0h0v4.57a1.15,1.15,0,1,0,2.29,0V43.79A4.52,4.52,0,0,0,62.64,40,6,6,0,0,0,58.77,38.79Z" transform="translate(-6.75 -17.41)"/></svg>
          
        
        
           
         
         <circle cx="50" cy="50" r="20" fill="#FFA500">
           
           <animate attributeName="cy" values="165;170;165" begin="0.2s" dur="1s" repeatCount="indefinite" />
           <animate attributeName="cx" values="203;208;203" begin="0.5s" dur="1s" repeatCount="indefinite" />
           <animate attributeName="fill" values="#FFA500;#ffd105;#ffb412" begin="0.4s" dur=".3s" repeatCount="indefinite" />
         </circle>
         <circle cx="50" cy="50" r="20" fill="#FFA500">
           
           <animate attributeName="cy" values="165;170;165" begin="0.4s" dur="1s" repeatCount="indefinite" />
           <animate attributeName="cx" values="203;208;203" begin="0.2s" dur="1s" repeatCount="indefinite" />
           <animate attributeName="fill" values="#FFA500;#ffd105;#ffb412" begin="0.4s" dur=".3s" repeatCount="indefinite" />
         </circle>
         
         <circle cx="223" cy="50" r="5" fill="#FFF794">
           
           <animate attributeName="cy" values="220;570" begin="0.4s" dur="2s" repeatCount="indefinite" />
         </circle>
        
       </svg>

    
    <span>  Welcome</span>
      <div class="spacer"></div>
    

    
    
  </div>
  <div class="sidenav">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  <div class="content" role="main">

     <!-- Side navigation -->

      <svg width="510px" height="500px" viewBox="0 0 510 500">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.59 69.02"><defs><style>.cls-1{font-size:61px;fill:#932830;font-family:Nunito-Black, Nunito Black;font-weight:800;letter-spacing:-0.07em;}.cls-2{fill:#ffdf57;}.cls-3{fill:#fff794;}</style></defs><title>vibe logo still</title><text class="cls-1" transform="translate(0 52)">V BE</text><path class="cls-2" d="M54.9,68.53a4.53,4.53,0,0,1-1.56-3.75v-21A4.52,4.52,0,0,1,54.9,40a6.62,6.62,0,0,1,7.74,0,4.52,4.52,0,0,1,1.56,3.75v21a4.53,4.53,0,0,1-1.56,3.75,6.62,6.62,0,0,1-7.74,0Z" transform="translate(-6.75 -17.41)"/><path class="cls-3" d="M58.77,38.79A6,6,0,0,0,54.9,40a3.93,3.93,0,0,0-1.17,1.56,5.08,5.08,0,0,0-.39,1.73v3.51a1.38,1.38,0,0,0,2.76,0V44h0a.49.49,0,1,1,1,0h0a1.7,1.7,0,0,0,3.38,0h0a.73.73,0,0,1,1.45,0h0v4.57a1.15,1.15,0,1,0,2.29,0V43.79A4.52,4.52,0,0,0,62.64,40,6,6,0,0,0,58.77,38.79Z" transform="translate(-6.75 -17.41)"/></svg>
            
          
          
             
           
           <circle cx="50" cy="50" r="20" fill="#FFA500">
             
             <animate attributeName="cy" values="165;170;165" begin="0.2s" dur="1s" repeatCount="indefinite" />
             <animate attributeName="cx" values="203;208;203" begin="0.5s" dur="1s" repeatCount="indefinite" />
             <animate attributeName="fill" values="#FFA500;#ffd105;#ffb412" begin="0.4s" dur=".3s" repeatCount="indefinite" />
           </circle>
           <circle cx="50" cy="50" r="20" fill="#FFA500">
             
             <animate attributeName="cy" values="165;170;165" begin="0.4s" dur="1s" repeatCount="indefinite" />
             <animate attributeName="cx" values="203;208;203" begin="0.2s" dur="1s" repeatCount="indefinite" />
             <animate attributeName="fill" values="#FFA500;#ffd105;#ffb412" begin="0.4s" dur=".3s" repeatCount="indefinite" />
           </circle>
           
           <circle cx="223" cy="50" r="5" fill="#FFF794">
             
             <animate attributeName="cy" values="220;570" begin="0.4s" dur="2s" repeatCount="indefinite" />
           </circle>
          
         </svg>

  </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>